.panel.panel-default
  .panel-heading
    %h3.panel-title
      = link_to diary.title, diary
      by #{diary.user.nickname}
      = l(diary.created_at)
  .panel-body
    - if diary.diary_image.present?
      %p= image_tag attachment_url(diary, :diary_image, :fit, 300, 300, format: 'jpg')
    %p= simple_format(diary.body)
  .panel-footer
    %ul.list-inline
      - if diary.was_good?(current_user)
        %li= link_to 'Goodを取り消す', diary_good_path(diary), method: 'delete'
      - else
        %li= link_to 'Good!', diary_good_path(diary), method: 'post'
      %li= link_to 'コメントを書く', diary_path(diary, anchor: 'comment-form')
