= simple_form_for(@order) do |f|
  = f.error_notification

  .form-inputs
    = f.input :delivery_days, as: :select, collection: delivery_days_collection
    = f.input :delivery_time

  .form-actions
    = f.button :submit, '注文を確定する', class: 'btn btn-primary btn-lg'
