%h1 注文内容を確認・変更する

= render @cart

%dl
  %dt 代引き手数料
  %dd= number_to_currency(@cart.cod_fee)
  %dt 送料
  %dd= number_to_currency(@cart.delivery_charge)
  %dt 請求額
  %dd= number_to_currency(@cart.billing_amount_with_tax)

= render 'orders/form'
